.imageContainer {
  background-image: url("./pexels-abby-chung-371167-1191377.jpg");
  background-size:contain;
}
.container {
  display: flex;
  padding-block-start: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    transparent,
    #ffffff5a,
    #ffffffc5,
    #ffffff,
    #ffffff
  );
}
.container img {
  align-self: end;
  justify-self: end;
}
.horizontalFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  display: flex;
  margin: 1rem;
  background-size: cover;
  background: rgba(248, 248, 248, 0.575);
  padding: 0.5rem;
  border-radius: 10rem;
  box-shadow: 5px 5px 20px rgb(215, 215, 215);
  transition: all 0.2s ease-in-out;
}

.greeting {
  background: white;
  padding-inline: 0.5rem;
  border-radius: 1rem;
  font-weight: bold;
  position: absolute;
  transition: all 0.3s ease-in;
  transform: translateX(7rem);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.avatar:hover .greeting {
  opacity: 1;
}

.avatar:hover {
  transform: scale(105%);
}

.avatar img {
  width: 10rem;
  border-radius: 10rem;
}

.whiteBox {
  display: block;
  background: white;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  width: 1fr;
  max-width: 36rem;
  box-shadow: 5px 5px 20px rgb(180, 180, 180);
}

.whiteBox a {
  color: #1b7eef;
}
.whiteBox a:hover {
  color: #58a6ff;
  font-weight: bold;
  text-decoration: underline;
}

.title {
  display: flex;
  transition: margin-left 0.2s ease;
}
.title p {
  align-self: center;
  background: #6fb7eb;
  min-height: 1rem;
  min-width: 0.3rem;
  border-radius: 1rem;
  margin-right: 0.2rem;
  transform: rotate(20deg);
}

.title h1 {
  font-size: larger;
  font-weight: bold;
  color: hsl(153, 51%, 56%);
}

.grid {
  display: grid;
  gap: 1rem;
  justify-items: center;
  margin-inline: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
