.imageContainer {
  background-image: url("../pexels-abby-chung-371167-1191377.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.container {
  display: flex;
  padding-block-start: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 1vh;
}
.container img {
  align-self: end;
  justify-self: end;
}
.horizontalFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  display: flex;
  margin: 1rem;
  background-size: cover;
  background: rgba(248, 248, 248, 0.575);
  padding: 0.5rem;
  border-radius: 10rem;
  box-shadow: 5px 5px 20px rgb(215, 215, 215);
  transition: all 0.2s ease-in-out;
}

.greeting {
  background: white;
  padding-inline: 0.5rem;
  border-radius: 1rem;
  font-weight: bold;
  width: fit-content;
  position: absolute;
  transition: all 0.3s ease-in;
  transform: translateX(7rem);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.avatar:hover .greeting {
  opacity: 1;
}

.avatar:hover {
  transform: scale(105%);
}

.avatar img {
  max-width: 10rem;
  border-radius: 10rem;
}

.whiteBox {
  display: block;
  background: white;
  border-radius: 1rem;
  margin-block-end: 1rem;
  padding: 1rem;
  max-width: 50rem;
  box-shadow: 5px 5px 20px rgb(180, 180, 180);
}

.whiteBox a {
  color: #1b7eef;
}
.whiteBox a:hover {
  color: #58a6ff;
  font-weight: bold;
  text-decoration: underline;
}

.title {
  display: flex;
  transition: margin-left 0.2s ease;
}
.title p {
  align-self: center;
  background: #6fb7eb;
  min-height: 1rem;
  min-width: 0.3rem;
  border-radius: 1rem;
  margin-right: 0.2rem;
  transform: rotate(20deg);
}

.title h1 {
  font-size: larger;
  font-weight: bold;
  color: hsl(153, 51%, 56%);
}

.container > .title p {
  min-height: 4vw;
  min-width: 1.3vw;
  margin-right: 0.5vw;
}
.container > .title h1 {
  
  font-size: 4vw;
  margin-block: 1rem;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-items: center;
}

@media only screen and (max-width: 1700px) {
  .container{
    padding-inline: 25rem;
  }
}
@media only screen and (max-width: 1500px) {
  .about_me {
    display: flex;
    flex-direction: column;
  }
  .whiteBox {
  }
  .container{
    padding-inline: 15rem;
  }
}
@media only screen and (max-width: 1000px) {
  .about_me {
    display: flex;
    flex-direction: column;
  }
  .whiteBox {
    width: 91vw;
  }
  .container{
    padding-inline: 1rem;
  }
  .greeting {
    transform: translateX(6rem);
  }
}