.imageContainer {
  background-image: url("./pexels-abby-chung-371167-1191377.jpg");
  background-size: cover;
}
.container {
  display: flex;
  padding-block-start: 7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(transparent, #ffffff5a, #ffffffcd, #ffffff);
}

.container img {
  align-self: end;
  justify-self: end;
}
.avatar {
  background-size: cover;
  background: rgba(248, 248, 248, 0.575);
  padding: 0.5rem;
  border-radius: 10rem;
  box-shadow: 5px 5px 20px rgb(215, 215, 215);
  transition: transform 0.2s ease-in-out;
}

.avatar:hover {
  transform: scale(105%);
}

.avatar img {
  width: 10rem;
  border-radius: 10rem;
}
 
.whiteBox {
  display: block;
  background: white;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  width: 36rem;
  box-shadow: 5px 5px 20px rgb(94, 94, 94);
}

.title {
  display: flex;
  transition: margin-left 0.2s ease;
}
.title p {
  background: #1b7eef;
  max-height: 3rem;
  min-width: 0.2rem;
  border-radius: 1rem;
  margin-right: 0.3rem;
}
.title h1 {
  font-size: larger;
  font-weight: bold;
  color: #1b7eef;
}
