.container {
  display: flex;
  background: white;
  border-radius: 1rem;
  height: 100%;
  max-width: 60rem;
  margin-inline: 1rem;
  justify-self: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(71, 71, 71, 0.308);
  transition: transform 0.3s ease-in-out;
}

.flip {
  flex-direction: row-reverse;
}

.flip img {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.default img {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.imageLink img {
  min-height: 32rem;
  object-fit: cover;
  transition: filter 0.3s ease-in-out;
}

.imageLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.openText {
  text-align: center;
  z-index: 1;
  color: white;
  font-weight: bold;
  font-size: xx-large;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.container .imageLink:hover .openText {
  opacity: 1;
}

.container .imageLink:hover img {
  filter: brightness(0.5);
}

.container:hover {
  transform: scale(102%);
}

.view {
  transition: width 0.4s ease-in-out;
  width: 0rem;
}

.content a:hover .view {
  width: 5.8rem;
}

.content {
  width: max-content;
  max-width: 50rem;
  padding: 1rem;
}

.content h1 {
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}

.content hr {
  height: 1px;
  color: rgb(181, 181, 181);
}

.title {
  display: flex;
  width: min-content;
  align-items: center;
}

.title p {
  background: #1b7eef;
  max-height: 3rem;
  border-radius: 1rem;
  margin-right: 0.3rem;
}

.content h1 {
  font-weight: bold;
  color: #1b7eef;
}

.verticalFlex {
  font-size: smaller;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.horizontalFlex {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.horizontalFlex h1 {
  white-space: normal;
}

.horizontalFlex svg {
  min-width: 2rem;
  max-width: 2rem;
}

@media only screen and (max-width: 1500px) {

  .container,
  .flip {
    min-width: 40rem;
    max-width: 40rem;
    flex-direction: column;
  }

  .imageLink img {
    min-height: fit-content;
  }

  .container img {
    object-fit: contain;
  }

  .flip img,
  .default img {
    border-radius: 0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  .content {
    display: flex;
    width: fit-content;
    align-items: center;
  }

  .verticalFlex {
    min-width: inherit;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media only screen and (max-width: 1000px) {

  .container,
  .flip,
  .default {
    min-width: 25rem;
    max-width: 25rem;
  }

  .content {
    display: block;
  }

  .content a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .horizontalFlex h1 {
    white-space: nowrap;
  }
}

@media only screen and (max-width: 400px) {

  .container,
  .flip,
  .default {
    min-width: 21.5rem;
    max-width: 21.5rem;
  }
}