.container {
  display: block;
  background: white;
  border-radius: 1rem;
  min-width: min-content;
  box-shadow: 5px 5px 10px rgba(228, 228, 228, 0.804);
  transition: transform 0.3s ease-in-out;
  margin: 1rem;
}
.imageLink img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: filter 0.3s ease-in-out;
}
.imageLink{
  display: flex;
  align-items: center;
  justify-content: center;
}
.openText {
  text-align: center;
  z-index: 1;
  color: white;
  font-weight: bold;
  font-size: xx-large;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.container .imageLink:hover .openText {
  opacity: 1;
}

.container .imageLink:hover img{ 
  filter: brightness(0.5);
}

.container:hover {
  cursor: pointer;
  transform: scale(102%);
}

.view {
  transition: width 0.3s ease-in-out;
  width: 0rem;
}

.content:hover .view {
  width: 7rem;
}

.content {
  width: fit-content;
  max-width: 50rem;
  padding: 1rem;
}

.content h1 {
  font-size: x-large;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}

.content hr {
  height: 1px;
  color: rgb(181, 181, 181);
}

.title {
  display: flex;
  align-items: center;
}

.title p {
  background: #1b7eef;
  max-height: 3rem;
  border-radius: 1rem;
  margin-right: 0.3rem;
}

.title h1 {
  font-size: larger;
  font-weight: bold;
  color: #1b7eef;
}

.horizontalContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.horizontalContainer svg {
  max-width: 2.5rem;
  padding: 0.2rem;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 21.5rem;
  }
}