.container {
  position: absolute;
  background: white;
  transition: all 0.3s ease-in-out;
  border-radius: 10rem;
  display: flex;
  margin: 1rem;
  width: fit-content;
  box-shadow: 5px 5px 50px rgb(129, 129, 129);
}

.select {
  position: absolute;
  color: transparent;
  z-index: 0;
  align-self: center;
  min-width: 8rem;
  border-radius: 10rem;
  padding-inline: 0.25rem;
  margin: 0.25rem;
  height: 2.3rem;
  transition: all 0.35s ease-in-out;
}
.button {
  color: black;
  min-width: 8rem;
  white-space: nowrap;
  text-align: center;
  font-size: x-large;
  margin: 0.25rem;
  transition: all 0.35s ease-in;
}
.home {
  background: #1b7eef;
}
.projects {
  background: #eac435;
}
.blog {
  background: #e40066;
}

.active {
  z-index: 1;
  color: white;
  font-weight: bold;
  border-radius: 2rem;
}

.animate_select {
  animation: stretch_select 0.35s ease-in-out;
}

@keyframes stretch_select {
  0% {
    min-width: 8rem;
  }
  50% {
    min-width: 8.5rem;
  }
  100% {
    min-width: 8rem;
  }
}