.projects {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-end: 1rem;
}

.imageContainer {
  background-image: url("./beach-rocks-seashore-landscape-5k-6830x6824-338.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.container {
  display: flex;
  padding-block-start: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}